__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
ENV/

.vs/
.vscode/
.idea/
.DS_Store

.streamlit/secrets.toml

data/raw/
data/processed/

*.joblib
*.pkl
*.zip

!models/neural_network_model.joblib
!models/tfidf_vectorizer.joblib

tree.txt